# IDE — ignora tudo em .idea, exceto o que é compartilhável
.idea/*
!.idea/.gitignore
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/compiler.xml
!.idea/androidProjectSystem.xml
!.idea/vcs.xml
!.idea/runConfigurations.xml

# Android / Gradle
*.iml
.gradle/
local.properties
/build
*/build/
/captures
.externalNativeBuild
.cxx

# SO
.DS_Store
